<div class="kt-home">
  <div class="d-flex justify-content-between mt-5">
    <h4>Personal boards</h4>
    <button class="kt-button kt-button--md kt-button--primary">
      Add board
    </button>
  </div>
  <div class="d-flex flex-wrap mt-2">
    <a class="kt-home__board kt-home__board--teal">
        <span>Board Sample</span>
    </a>
   
  </div>
  <div class="d-flex justify-content-between mt-5">
    <h4>Shared boards</h4>
  </div>
  <div class="d-flex flex-wrap mt-2">
    <a class="kt-home__board  kt-home__board--red">
        <span>Board Sample</span>
    </a>
    
  </div>
</div>
