<div class="kt-navbar">
  <h2>kanban</h2>
  <div class="btn-group" dropdown placement="left">
    <img
      [src]="user.imageURL"
      dropdownToggle
      type="button"
      alt="user"
      height="42"
      style="border-radius: 100%;"
    />
    <ul
      id="dropdown-animated"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-left"
      role="menu"
      aria-labelledby="button-animated"
    >
      <li role="menuitem"><a class="dropdown-item" (click)="logout()">
       <fa-icon *ngIf="isLoggingOut" [icon]="['fas', 'spinner']" [animation]="'spin'"></fa-icon> Logout
      </a></li>
      
    </ul>
  </div>
  
  
</div>
