<div class="kt-navbar">
  <h2>kanban</h2>
  <div class="btn-group" dropdown placement="left">
    <img
      src="https://xsgames.co/randomusers/assets/images/favicon.png"
      dropdownToggle
      type="button"
      alt="user"
      height="42"
    />
    <ul
      id="dropdown-animated"
      *dropdownMenu
      class="dropdown-menu dropdown-menu-left"
      role="menu"
      aria-labelledby="button-animated"
    >
      <li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>
      
    </ul>
  </div>
  
  
</div>
