$bg1: #2C2C38;
$bg2: #21212D;
$bg3: #182747;
$light: #FFFFFF;

$label_color: #EAEBF4;
$action_color: #878F9F;
$border-color: #363642;

$button_primary: #7169B5;
$button_light: #FFFFFF;

$danger: #ED2B2A;