<div class="kt-list">
  <span class="ms-1 kt-list__title">{{ column.name }}</span>
  <div class="kt-list__container" cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of tasks | sortItemByOrder" cdkDrag [cdkDragData]="task" class="kt-list__item">
      <span class="kt-list__item-title">{{ task.name }}</span>
      <span class="kt-list__item-subtitle">{{ task.subTasks.length }}</span>
    </div>
    
  </div>
  <button (click)="addTask()" class="kt-button kt-button--md kt-button--inverse">
    + Add Task
  </button>
</div>
